* {
    padding: 0;
    margin: 0;
}

#encabezado {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    top: 0;
    position: sticky;
    z-index: 100;
}

#logo {
    font-size: 25px;
    color: #fff;
    font-weight: 100;
}

#menu {
    display: flex;
}

#menu li {
    list-style: none;
    margin: none;
    padding-right: 20px;
}

#menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

#menu li a:hover {
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 15px;
}

#biniciar {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

#login {
    color: #fff;
}

#login a {
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease;
}

#login a:hover {
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 15px;
}

#ibajo {
    background-color: #000;
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#ibajo a {
    padding: 5px 10px;
    margin-bottom: 15px;
    color: #fff;
    transition: all 0.5s ease;
}

#ibajo a:hover {
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 15px;
}

#col {
    width: 50%;
    display: flex;
    justify-content: center;

}

#registrarse {
    color: #fff;
}

#registrarse a {
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease;
}

#registrarse a:hover {
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 15px;
}

#ibajo2 {
    background-color: #000;
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#ibajo2 a {
    padding: 5px 10px;
    margin-bottom: 15px;
    color: #fff;
    transition: all 0.5s ease;
}

#ibajo2 a:hover {
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 15px;
}

#col2 {
    width: 50%;
    display: flex;
    justify-content: center;

}

#biniciar2 {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

#carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightgray;
}

#carrusel2 {
    padding-top: 1cm;
    width: 60%;
}

#info h1 {
    display: flex;
    justify-content: center;
}
#info{
    padding-top: 1cm;
    padding-bottom: 1cm;
    background-color: lightgray;
}

#infomarcas {
    display: flex;
    justify-content: space-around;
    padding-top: 1cm;
    padding-bottom: 1cm;
}

.card {
    text-align: center;
}

#sobrenosotros {
    padding-left: 1cm;
    padding-right: 1cm;
    padding-bottom: 1cm;
    background-color: lightgray;
}

#sobrenosotros p {
    text-align: justify;
}
#sobrenosotros h1 {
    text-align: center;
    padding-bottom: 0.5cm;
}
#logopie {
    color: #000;
    padding-right: 3cm;
}

#footer {
    display: flex;
    align-items: center;
    padding-top: 1cm;
    padding-bottom: 1cm;
    padding-left: 1cm;
    padding-right: 1cm;
    background-color: rgb(163, 163, 163);
}

#menupie li {
    list-style: none;
    padding-bottom: 5px;
    padding-right: 10px;
}
#imgpie{
    padding-left: 32cm;
}
#Contacto{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}
#Formulario{
padding-left: 50px;
padding-top: 50px;
}
#mapa{
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    align-items: center;
}
#carrocompra{
    padding-left: 6cm;
    padding-right: 6cm;
    padding-top: 3cm;
    padding-bottom: 7.47cm;
    background-color: lightgray;
}
#carrocompra img{
    width: 80px;
}
